Source: ros-humble-autoware-perception-objects-converter
Section: misc
Priority: optional
Maintainer: Yoshi Ri <yoshi.ri@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-perception-msgs, ros-humble-geometry-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-unique-identifier-msgs, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-perception-objects-converter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-humble-autoware-perception-msgs, ros-humble-geometry-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-unique-identifier-msgs, ros-humble-ros-workspace
Description: ROS 2 node for converting between different perception object message types
