Source: ros-humble-autoware-velocity-smoother
Section: misc
Priority: optional
Maintainer: Fumiya Watanabe <fumiya.watanabe@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-internal-debug-msgs, ros-humble-autoware-internal-planning-msgs, ros-humble-autoware-interpolation, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-motion-utils, ros-humble-autoware-osqp-interface, ros-humble-autoware-planning-msgs, ros-humble-autoware-planning-test-manager, ros-humble-autoware-qp-interface, ros-humble-autoware-utils-debug, ros-humble-autoware-utils-diagnostics, ros-humble-autoware-utils-geometry, ros-humble-autoware-utils-logging, ros-humble-autoware-utils-math, ros-humble-autoware-utils-rclcpp, ros-humble-autoware-vehicle-info-utils, ros-humble-eigen3-cmake-module, ros-humble-geometry-msgs, ros-humble-nav-msgs, ros-humble-rclcpp, ros-humble-tf2, ros-humble-tf2-ros, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-velocity-smoother
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-internal-debug-msgs, ros-humble-autoware-internal-planning-msgs, ros-humble-autoware-interpolation, ros-humble-autoware-motion-utils, ros-humble-autoware-osqp-interface, ros-humble-autoware-planning-msgs, ros-humble-autoware-planning-test-manager, ros-humble-autoware-qp-interface, ros-humble-autoware-utils-debug, ros-humble-autoware-utils-diagnostics, ros-humble-autoware-utils-geometry, ros-humble-autoware-utils-logging, ros-humble-autoware-utils-math, ros-humble-autoware-utils-rclcpp, ros-humble-autoware-vehicle-info-utils, ros-humble-geometry-msgs, ros-humble-nav-msgs, ros-humble-rclcpp, ros-humble-tf2, ros-humble-tf2-ros, ros-humble-ros-workspace
Description: The autoware_velocity_smoother package
