name: build-and-test-daily

on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:

jobs:
  bnt:
    strategy:
      fail-fast: false
      matrix:
        rosdistro: [humble, jazzy]
        above: [false, true]
        include:
          - rosdistro: humble
            container: ghcr.io/autowarefoundation/autoware:core-common-devel

          - rosdistro: jazzy
            container: ghcr.io/autowarefoundation/autoware:core-common-devel-jazzy-amd64

    uses: ./.github/workflows/build-and-test-reusable.yaml

    with:
      rosdistro: ${{ matrix.rosdistro }}
      container: ${{ matrix.container }}
      pull-ccache: true
      push-ccache: false
      cache-key-element: daily-build
      above: ${{ matrix.above }}
      codecov-flag: daily-${{ matrix.rosdistro }}
      concurrency-group: build-and-test-daily-${{ matrix.rosdistro }}${{ matrix.above && '-above' || '' }}-${{ github.ref }}-${{ github.run_id }}
      runner: ${{ matrix.above && '["self-hosted","Linux","X64"]' || '["ubuntu-latest"]' }}

    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
